<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="page" class="container">
	<!--div id="header">
		<div id="logo">
			<img src="/static/images/pic02.jpg" alt="" />
			<h1><a href="#">Privy</a></h1>
			<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Our Clients</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
            <ul>
                {% block nav %}{% endblock %}
            </ul>
		</div>
	</div-->
	<div id="main2">
		<!--div id="banner">
			<img src="/static/images/pic01.jpg" alt="" class="image-full" />
		</div-->
		<div id="welcome">
			<div class="title">
				<img src="/static/images/lense.jpg"/
				<h1>Lense</h1>
				<!--span class="byline">Description ?</span-->
			</div>


			<!--p></p--

			<!--ul class="actions">
				<li><a href="#" class="button">Etiam posuere</a></li>
			</ul-->
		</div>
		<div id="featured">
		     <div id="content">
            		  {% block body %}{% endblock %}
        	     </div>

        	     <div id="nav">
            	          <ul>
                	      {% block nav1 %}{% endblock %}
            		  </ul>
        	     </div>

		     <div id="copyright">
			  <span>&copy; UNO. All rights reserved.</span>
				<!--span>Design by VOS</span-->
		     </div>
		</div>
	</div>
</div>
</body>
</html
